@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&family=Quicksand&display=swap');

/* ===== GLOBAL ===== */

:root {
  font-family: "Fira Sans";
  --black: #1D1D1DFF;
  --black-t: #1D1D1DDD;
  --purple: #6119F3;
  --purple-light: #8d5cf0;
  --teal-light: rgb(0, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.layer {
  height: 100vh;
  padding-left: 15%;
}

/* ===== NAVBAR ===== */

.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  width: 100%;
  padding: 0 15%;
  font-weight: 400;
  color: white;
  background-color: var(--black-t);
  z-index: 5;
}

.logo {
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.nav-right {
  display: flex;
}

.menu {
  margin-right: 2rem;
}

.menu a {
  display: inline-block;
  margin: 0 1rem;
}

.menu a:hover {
  color: var(--teal-light);
}

.socmed a {
  margin: 0 0.3rem;
}

.socmed a:hover {
  color: var(--teal-light);
}

.burger {
  display: none
}

/* ===== LIFT ===== */

.lift {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100vh;
}

.floor {
  margin: 1rem 0;
}

.floor * {
  color: var(--teal-light);
}

/* ===== HOME =====*/

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5vh;
  background-color: var(--black);
}

#home p {
  color: white;
  cursor: default;
}

.home-hello {
  font-size: 6rem;
  font-weight: bold;
}

.home-name {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.okky {
  color: var(--purple-light);
}

.home-career {
  font-size: 1.5rem;
  font-style: italic;
  letter-spacing: 0.4rem;
  word-spacing: 0.4rem;
}

/* ===== Portfolio ===== */
#portfolio {
  padding-top: 15vh;
  background-color: var(--black);
}

.portfolio-head {
  font-size: 3rem;
  color: white;
}

.portfolio-p {
  margin-top: 1rem;
  color: white;
}

.slider {
  margin-top: 10vh;
}

.slider-container {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.pages {
  position: absolute;
  left: 3rem;
  opacity: 0;
  z-index: 1;
  transition: transform 1s linear;
}

.pages-img {
  height: 200px;
  width: 350px;
  border-radius: 0.5rem;
}

.slide-left {
  transform: translateX(-350px);
}

.slide-active-left {
  transform: translateX(0);
  opacity: 0.7;
  transition: all 1s linear;
}

.slide-active {
  transform: translateX(250px);
  opacity: 1;
  z-index: 3;
}

.big-img {
  width: 550px;
  height: 350px;
  border-radius: 1rem;
  transition: all 1s ease;
}

.slide-active-right {
  transform: translateX(700px);
  opacity: 0.7;
}

.slide-right {
  transform: translateX(1050px);
  transition: all 1s linear;
}

/* ===== ABOUT ME ===== */
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--purple);
}

.about-head {
  margin-bottom: 5rem;
  font-size: 5rem;
  color: white;
}

.about-subhead {
  font-size: 1.5rem;
  color: white;
}

.about-p {
  width: 40%;
  margin: 1rem 0 2rem;
  text-align: justify;
  color: white;
}

/* ===== CONTACT ME ===== */

#contact {
  padding-top: 15vh;
  color: white;
  background-color: var(--black);
}

.contact-head {
  margin-bottom: 3rem;
  font-size: 3rem;
}

.contact-content {
  display: flex;
}

.contact-p {
  width: 40%;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  line-height: 2.3rem;
}

.form {
  margin: 0 auto;
}

.form-container {
  display: grid;
  grid-template-areas:
    "name email"
    "subject subject"
    "message message";
  grid-template-rows: 1fr 1fr 4fr;
  gap: 1rem;
  height: 50vh;
  width: 40%;
}

.form-input {
  display: block;
  padding-left: 1.5rem;
  padding-bottom: 2px;
  border: none;
  font-size: 1.1rem;
  color: #b1b1b1;
  background-color: #2B2B2B;
  outline-style: none;
}

.form-input:focus {
  padding-bottom: 0;
  border-bottom: solid 2px var(--teal-light);
}

.form-name {
  grid-area: name;
}

.form-email {
  grid-area: email;
}

.form-subject {
  grid-area: subject;
}

.form-message {
  grid-area: message;
  padding-top: 1rem;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 19rem;
  margin-top: 2rem;
  border: 1px solid var(--teal-light);
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  color: var(--teal-light);
  background-color: inherit;
  cursor: pointer;
  transition: all 500ms ease-out;
}

.form-btn:hover {
  color: var(--black);
  background-color: var(--teal-light);
}

.send {
  display: inline-block;
  margin-left: 0.5rem;
}

@media screen and (max-width: 800px) {

  /* Mobile Global */
  :root {
    font-size: 12px;
  }

  /* Mobile Nav */
  .nav {
    height: 10vh;
    padding: 0 8%;
  }

  .logo {
    font-size: 2rem;
  }

  .menu {
    position: absolute;
    top: 10vh;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    margin: 0;
    background-color: var(--black);
    display: none;
  }

  .menu-on {
    display: flex;
  }

  .menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    margin: 0;
    font-size: 2rem;
  }

  .menu a:hover {
    background-color: white;
  }

  .socmed {
    display: flex;
    align-items: center;
  }

  .socmed a {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
  }

  .burger {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    font-size: 2.5rem;
  }

  /* Mobile Lift */
  .lift-off {
    display: none;
  }

  .floor * {
    font-size: 1.3rem;
  }

  /* Portfolio */
  #portfolio {
    padding-top: 20vh;
  }

  .slider {
    margin-top: 5vh;
  }

  .pages {
    left: 0;
  }

  .slider-container {
    width: 82vw;
  }

  .pages-img {
    height: 100px;
    width: 150px;
  }

  .slide-left {
    transform: translateX(-150px);
  }

  .slide-active-left {
    transform: translateX(0);
  }

  .slide-active {
    transform: translateX(50px);
  }

  .slide-active-right {
    transform: translateX(200px);
  }

  .slide-right {
    transform: translateX(350px);
  }

  .big-img {
    height: 150px;
    width: 250px;
  }

  /* About */

  #about {
    padding-top: 4rem;
  }

  .about-head {
    margin-bottom: 2rem;
  }

  .about-subhead {
    margin-top: 1rem;
  }

  .about-p {
    width: 70%;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    line-height: 1.7rem;
  }

  /* Mobile Contact */

  #contact {
    height: 110vh;
  }

  .contact-content {
    flex-direction: column;
  }

  .contact-p {
    width: 99%;
    font-size: 1.1rem;
    letter-spacing: 0;
  }

  .form {
    width: 95%;
    margin: 0;
    margin-top: 4rem;
  }

  .form-container {
    width: 100%;
    height: 35vh;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 0.7rem;
  }

  .form-input {
    padding-bottom: 0;
  }

  .form-btn {
    width: 12rem;
    margin-top: 3rem;
  }
}